:root{
  --creamWhite: rgba(248, 248, 248, 1);
  --black:rgba(0, 0, 0, 1);
  --white:rgba(255, 255, 255, 1);
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home {
  width: 100%;
  height: 3439px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background:var(--creamWhite);

}
.home-hero1 {
  left: 24px;
  top: 24px;
  left: 24px;
  width: 1464px;
  height: 932px;
  position: absolute;
}
.home-frame12 {
  gap: 48px;
  top: 315px;
  left: 428px;
  width: 657px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.home-text {
color:var(--black);
 height: auto;
font-family: Inter;
font-size: 112px;
font-weight: 400;
line-height: 136px;
letter-spacing: 0em;
text-align: left;

}
.home-text02 {
color: var(--black);
height: auto;
font-family: Inter;
font-size: 32px;
font-weight: 300;
line-height: 39px;
letter-spacing: 0em;
text-align: left;

}
.home-rectangle1 {
  width: 128px;
  height: 7px;
background: var(--black);

}
.home-frame11 {
  top: 43px;
  left: 0px;
  width: 1510px;
  display: flex;
  padding: 0 40px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.home-text04 {
  color: var(--white);
  height: auto;
  font-size: 32px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text05 {
  color: var(--black);
  font-weight: 300;
}
.home-frame2 {

  gap: 10px;
  width: 250px;
  display: flex;
  padding: 12px 16px 12px 16px;
  align-items: center;
  flex-shrink: 0;
  border-color:var(--black);
  border-style: solid;
  border-width: 2px;
  justify-content: center;
}
.home-text06 {
  color: var(--black);
  height: auto;
  text-align: left;
  line-height: normal;
  
}
.home-rectangle2 {
  top: 988px;
  left: 0px;
  width: 1512px;
  height: 2270px;
  position: absolute;
  background: var(--creamWhite);

}

.home-rectangle8 {
  top: 2035px;
  left: 752px;
  width: 756px;
  height: 835px;
  position: absolute;
  background: var(--white);

}
.home-drone81 {
  top: 2035px;
  left: 0px;
  width: 752px;
  height: 835px;
  position: absolute;
}
.home-frame10 {
  gap: 73px;
  top: 56px;
  left: 654px;
  width: 204px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.home-text08 {
  color: var(--black);
  height: auto;
  text-align: left;
  line-height: normal;
}
.home-text10 {
  color: var(--black);
  height: auto;
  text-align: left;
  line-height: normal;
}
.home-frame17 {
  background:var(--creamWhite);
  gap: 144px;
  top: 1199px;
  left: 120px;
  width: 1272px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.home-frame13 {
  gap: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text12 {
  color: var(--black);
  height: auto;

  font-family: Inter;
font-size: 32px;
font-weight: 300;
line-height: 39px;
letter-spacing: 0em;
text-align: left;

}
.home-rectangle4 {
  width: 69px;
  height: 2px;
  background: var(--black);

}
.home-frame16 {
  gap: 48px;
  display: flex;
  align-items: flex-start;
}
.home-card {
  width: 282px;
  height: 376px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-rectangle11 {
  top: 0px;
  left: 0px;
  width: 282px;
  height: 376px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px var(--black);
  background: var(--white)


}
.home-frame15 {
  gap: 48px;
  top: 1px;
  left: 0px;
  width: 282px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.home-drone11 {
  width: 282px;
  height: 188px;
}
.home-frame14 {
  gap: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-rectangle12 {
  width: 64px;
  height: 4px;
  background: var(--black);
}
.home-text14 {
  color:var(--black);
  width: 213px;
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-card1 {
  width: 282px;
  height: 376px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-rectangle111 {
  top: 0px;
  left: 0px;
  width: 282px;
  height: 376px;
  position: absolute;
  background: var(--white);
  box-shadow: 0px 4px 4px 0px var(--black);

}
.home-frame151 {
  gap: 48px;
  top: 1px;
  left: 0px;
  width: 282px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.home-drone111 {
  width: 282px;
  height: 188px;
}
.home-frame141 {
  gap: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-rectangle121 {
  width: 64px;
  height: 4px;
  background:var(--black);
}
.home-text19 {
  color: var(--black);
  width: 213px;
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-card2 {
  width: 282px;
  height: 376px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-rectangle112 {
  top: 0px;
  left: 0px;
  width: 282px;
  height: 376px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px var(--black);
  background: var(--white);


}
.home-frame152 {
  gap: 48px;
  top: 1px;
  left: 0px;
  width: 282px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.home-drone112 {
  width: 282px;
  height: 188px;
}
.home-frame142 {
  gap: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-rectangle122 {
  width: 64px;
  height: 4px;
  background: var(--black);
}
.home-text21 {
  color: var(--black);
  width: 213px;
  height: auto;
  text-align: center;
  line-height: normal;
}
.home-card3 {
  width: 282px;
  height: 376px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-rectangle113 {
  top: 0px;
  left: 0px;
  width: 282px;
  height: 376px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px var(--black);
  background: var(--white);
}
.home-frame153 {
  gap: 48px;
  top: 1px;
  left: 0px;
  width: 282px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.home-drone113 {
  width: 282px;
  height: 188px;
}
.home-frame143 {
  gap: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-rectangle123 {
  width: 64px;
  height: 4px;
  background: var(--black);

}
.home-text23 {
  color: var(--black);
  width: 213px;
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame18 {
  gap: 84px;
  top: 2259px;
  left: 854px;
  width: 580px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  background: var(--white);

}
.home-frame131 {
  gap: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text25 {
  color: var(--black);
  height: auto;
  font-size: 32px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-rectangle41 {
  width: 69px;
  height: 2px;
  background:var(--black);

}
.home-text27 {
  color: var(--black);
  width: 580px;
  height: auto;
  text-align: justified;
  line-height: normal;
}
.home-frame22 {
  background: var(--creamWhite);
  gap: 32px;
  top: 2936px;
  left: 463px;
  width: 586px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.home-frame21 {
  gap: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-frame19 {
  gap: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text29 {
  color: var(--black);
  height: auto;
  text-align: left;
  line-height: normal;
}
.home-text31 {
  color: var(--black);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame20 {
  gap: 10px;
  width: 586px;
  display: flex;
  padding: 24px 32px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  background-color:white;
}
.home-text33 {
  color: var(--black);
  height: auto;
  opacity: 0.50;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame3 {
  gap: 10px;
  display: flex;
  padding: 10px 40px;
  align-items: center;
  border-color: var(--black);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
}
.home-text35 {
  color: var(--black);
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame29 {

  gap: 32px;
  top: 3324px;
  left: 40px;
  width: 247px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.home-frame27 {
  gap: 10px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  
}
.twitter {
  border-radius: 100%;
  width: 61px;
  height: 61px;
  background:  rgba(203, 222, 236, 1);

}
.home-social-icons {
  top: 14px;
  left: 12px;
  width: 36px;
  height: 36px;
  z-index: 1;
  position: absolute;
}
.home-frame28 {
  gap: 10px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: rgb(125, 206, 216);
  border-radius: 100%;

}
.home-frame28 img{
  width: 50px;
  height: 29.251079559326172px;
  top: 3.3740234375px;
}
.home-frame27 img{
  width: 36px;
  height: 29.251079559326172px;
  top: 3.3740234375px;
}
.home-frame26 img{
  width: 36px;
  height: 29.251079559326172px;
  top: 3.3740234375px;

}

.linkedin {
  border-radius: 100%;
  width: 61px;
  height: 61px;
  background: rgba(203, 222, 236, 1);
}
.home-social-icons1 {
  top: 16px;
  left: 15px;
  width: 31px;
  height: 31px;
  z-index: 1;
  position: absolute;
}
.home-frame26 {
  gap: 10px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.pinterest {
  border-radius: 100%;
  width: 61px;
  height: 61px;
  width: 36px;
height: 36px;
padding: 3.373967170715332px 0px;
background:rgba(203, 222, 236, 1);

}
.home-social-icons2 {
  top: 1px;
  left: 1px;
  width: 59px;
  height: 59px;
  z-index: 1;
  position: absolute;
}
.home-frame23 {

  gap: 80px;
  top: 3335px;
  left: 983px;
  width: 487px;
  display: flex;
  position: absolute;
  align-items: center;
}
.home-text37 {
  color: var(--black);
  height: auto;
  text-align: left;
  line-height: normal;
}
.home-text39 {
  color: var(--black);
  height: auto;
  text-align: left;
  line-height: normal;
}
.home-frame31 {
  gap: 10px;
  display: flex;
  padding: 10px 40px;
  align-items: center;
  border-color:var(--black);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
}
.home-text41 {
  color: var(--black);
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.footer{
  background: var(--white);
}

.flex-container .flexy{
  width: 756px;
  height: 835px;
  top: 2035px;
  left: 752px;
  background-color: rgb(222, 10, 10);
}


@media only screen and (max-width: 896px) {
  .home-container, .home, .home-frame12, .home-frame14, .home-text14, .home-text, .home-text06, .home-text05{
    width: 100%;
    aspect-ratio: 100 / 29;
  }
}
